.accueil-photos {
  background-color: black;
  padding: 2%;
}

.accueil-photos h2 {
  color: #242424;
  text-align: center;
  margin-bottom: 80px;
}

.accueil-photos div {
  display: flex;
  flex-direction: row;
  gap: 1%;
  justify-content: center;
  margin-bottom: 10px;
}

.card-category {
  display: flex;
  background-size: cover;
  background-position: center;
  height: 500px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 30%;
  align-items: center;
  justify-content: center;
}

.car-category-text{
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  text-decoration: none;
}

.card-category:hover .car-category-text {
  transform: scale(1.1);
  opacity: 1;
}



@media screen and (max-width: 996px) {
  .accueil-photos {
    padding: 20px;
  }

  .accueil-photos div {
    flex-direction: column;
  }

  .card-category {
    height: 350px;
    width: 100%;
  }
}
